.button {
  display: block;
  width: 100%;
  .set-padding(10px, 20px, 10px, 20px);
  color: @set-color-white;
  line-height: 20px;
  background-color: @set-bg-green;
  text-align: center;
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}
