.button {
  width: 100%;
  color: @set-color-white;
  line-height: 20px;
  background-color: @set-bg-green;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .button {
    width: auto;
  }
}
