.catalog-additional {
  width: @mobile-width;
  .centerer();
  .set-padding(25px, 20px, 25px, 20px);
}

.catalog-additional__title {
  position: relative;
  margin: 0;
  .set-padding(2px, 0, 33px, 0);
  border-bottom: 1px solid #cdcdcd;
}

.catalog-additional__title::after {
  content: "";
  position: absolute;
  width: 53px;
  height: 3px;
  background-color: @set-bg-green;
  right: 0;
  top: 15px;
}

.catalog-additional__list {
  .list-reset();
}

.catalog-additional__item {
  .set-padding(15px, 0, 17px, 0);
  border-bottom: 1px solid #cdcdcd;
}

.catalog-additional__item-title {
  .set-margin(0, 0, 11px, 0);
  color: #222222;
  line-height: 16px;
}

.catalog-additional__info {
  width: 100%;
  border-collapse: collapse;
  .set-margin(0, 0, 13px, 0);
}

.catalog-additional__cell {
  line-height: 14px;
}

.catalog-additional__info-cell--value {
  text-align: right;
}

@media (min-width: @tablet-width) {
  .catalog-additional {
    width: @tablet-width;
    .set-padding(25px, 30px, 25px, 30px);
  }

  .catalog-additional__title {
    .set-padding(42px, 37px, 79px, 37px);
    border: none;
  }

  .catalog-additional__title::after {
    width: 327px;
    height: 3px;
    right: -30px;
    top: 65px;
  }

  .catalog-additional__title::before {
    content: "";
    position: absolute;
    width: 29px;
    height: 3px;
    background-color: @set-bg-green;
    left: -30px;
    top: 65px;
  }

  .catalog-additional__list {
    border: 1px solid #d9d9d9;
  }

  .catalog-additional__item {
    display: flex;
    flex-wrap: wrap;
    .set-padding(27px, 35px, 27px, 38px);
  }

  .catalog-additional__item-title {
    width: 50%;
    .set-margin(0, 0, 28px, 0);
  }

  .catalog-additional__info {
    width: 50%;
  }

  .catalog-additional__cell {
    line-height: 22px;
  }

  .catalog-additional__info-cell--property {
    text-align: right;
  }

  .catalog-additional__info-cell--value {
    width: 94px;
  }

  .catalog-additional__item:last-child {
    border: none;
  }

  .catalog-additional__button {
    .set-font-size (16px);
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-additional {
    width: @desktop-width;
    display: flex;
    flex-wrap: wrap;
    .set-padding(25px, 40px, 85px, 40px);
  }

  .catalog-additional__title {
    .set-padding(52px, 0px, 79px, 0px);
    width: 100vw;
  }

  .catalog-additional__title::after {
    width: 100vw;
    top: 75px;
    left: 27vw;
  }

  .catalog-additional__title::before {
    width: 70px;
    top: 75px;
    left: 0;
  }

  .catalog-additional__list {
    width: 895px;
    flex-shrink: 0;
    .set-margin(0, 81px, 0, 0);
    border: none;
  }

  .catalog-additional__item {
    align-items: center;
    justify-content: space-between;
    .set-padding(15px, 0, 16px, 0);
  }

  .catalog-additional__item-title {
    margin: 0;
    width: 287px;
  }

  .catalog-additional__item:first-child {
    border-top: 1px solid #d9d9d9;
  }

  .catalog-additional__item:last-child {
    border-bottom: 1px solid #d9d9d9;
  }

  .catalog-additional__info {
    margin: 0;
    width: 290px;
  }

  .catalog-additional__cell {
    line-height: 19px;
    text-align: left;
  }

  .catalog-additional__info-cell--property {
    width: 243px;
  }

  .catalog-additional__info-cell--value {
    width: auto;
  }

  .catalog-additional__button {
    width: 245px;
  }
}
