.catalog-additional {
  position: relative;
  .set-padding(25px, 0, 25px, 0);
}

.catalog-additional__wrapper {
  width: @mobile-width;
  .centerer();
}

.catalog-additional__title {
  margin: 0;
  position: relative;
  z-index: 2;
  display: inline-block;
  .set-padding(2px, 23px, 33px, 20px);
  background-color: @set-color-white;
}

.catalog-additional::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 50%;
  height: 3px;
  background-color: @set-bg-green;
  right: 0;
  top: 40px;
}

.catalog-additional__list {
  width: @mobile-width;
  .centerer();
  .set-padding(0, 20px, 0, 20px);
  list-style: none;
}

.catalog-additional__item:first-child {
  border-top: 1px solid #cdcdcd;
}

.catalog-additional__item {
  .set-padding(15px, 0, 17px, 0);
  border-bottom: 1px solid #cdcdcd;
}

.catalog-additional__item-title {
  .set-margin(0, 0, 11px, 0);
  color: #222222;
  line-height: 16px;
}

.catalog-additional__info {
  width: 100%;
  border-collapse: collapse;
  .set-margin(0, 0, 13px, 0);
}

.catalog-additional__cell {
  line-height: 14px;
}

.catalog-additional__info-cell--value {
  text-align: right;
}

@media (min-width: @tablet-width) {
  .catalog-additional {
    .set-padding(25px, 0, 25px, 0);
  }

  .catalog-additional__wrapper {
    width: @tablet-width;
  }

  .catalog-additional::after {
    width: 100%;
    top: 90px;
  }

  .catalog-additional__title {
    margin-left: 30px;
    .set-padding(42px, 37px, 79px, 37px);
    border: none;
  }

  .catalog-additional__list {
    width: 708px;
    .centerer();
    padding: 0;
    border: 1px solid #d9d9d9;
  }

  .catalog-additional__item:first-child {
    border-top: none;
  }

  .catalog-additional__item {
    display: flex;
    flex-wrap: wrap;
    .set-padding(27px, 35px, 27px, 38px);
  }

  .catalog-additional__item-title {
    width: 50%;
    .set-margin(0, 0, 28px, 0);
  }

  .catalog-additional__info {
    width: 50%;
  }

  .catalog-additional__cell {
    line-height: 22px;
  }

  .catalog-additional__info-cell--property {
    text-align: right;
  }

  .catalog-additional__info-cell--value {
    width: 94px;
  }

  .catalog-additional__item:last-child {
    border: none;
  }

  .catalog-additional__button {
    .set-font-size (16px);
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-additional {
    .set-padding(25px, 0, 85px, 0);
  }

  .catalog-additional__wrapper {
    width: @desktop-width;
  }

  .catalog-additional::after {
    top: 100px;
  }

  .catalog-additional__container {
    display: flex;
    width: @desktop-width;
    .set-padding(20, 40px, 0, 40px);
    .centerer();
  }

  .catalog-additional__title {
    .set-margin(0, 0, 0, 0);
    .set-padding(52px, 40px, 79px, 40px);
  }

  .catalog-additional__list {
    width: 895px;
    flex-shrink: 0;
    .set-margin(0, 81px, 0, 0);
    border: none;
  }

  .catalog-additional__item {
    align-items: center;
    justify-content: space-between;
    .set-padding(15px, 0, 16px, 0);
  }

  .catalog-additional__item-title {
    margin: 0;
    width: 287px;
  }

  .catalog-additional__item:first-child {
    border-top: 1px solid #d9d9d9;
  }

  .catalog-additional__item:last-child {
    border-bottom: 1px solid #d9d9d9;
  }

  .catalog-additional__info {
    margin: 0;
    width: 290px;
  }

  .catalog-additional__cell {
    line-height: 19px;
    text-align: left;
  }

  .catalog-additional__info-cell--property {
    width: 243px;
  }

  .catalog-additional__info-cell--value {
    width: auto;
  }

  .catalog-additional__button {
    width: 245px;
  }
}
