.catalog-additional {
  .set-padding(25px, 20px, 25px, 20px);
  .outline(violet);
}

.catalog-additional__list {
  .list-reset();
}

.catalog-additional__item-title {
  color: #222222;
  line-height: 16px;
}

.catalog-additional__cell {
  line-height: 14px;
}
