.example {
  background: @set-bg-grey;
}

.example__wrapper {
  width: @mobile-width;
  .centerer();
  display: flex;
  flex-direction: column;
  min-height: 705px; /*временно, потом убрать*/
  .set-padding(18px, 0, 22px, 0);
}

.example__column {
  display: flex;
  flex-direction: column;
}

.example__title {
  padding: 0;
  .set-padding(0, 20px, 0, 20px);
  .set-margin(0, 0, 25px, 0);
}

.example__description {
  margin: 0;
  .set-padding(0, 20px, 0, 20px);
}

.example__statistics {
  .set-padding(0, 20px, 0, 20px);
  .set-margin(25px, 0, 35px, 0);
}

.example__statistics-list {
  display: flex;
  justify-content: space-between;
  .list-reset();
}

.example__statistics-item {
  position: relative;
  .set-padding(13px, 0, 16px, 0);
  width: 124px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
}

.example__statistics-value {
  text-transform: uppercase;
  line-height: 24px;
}

.example__statistics-text {
  position: absolute;
  width: 80px;
  bottom: -27px;
  left: 50%;
  margin-left: -40px;
  .set-font-size(12px);
  line-height: 12px;
  text-transform: lowercase;
  background-color: #f2f2f2;
}

.example__expenses {
  .set-margin(0, 0, 33px, 0);
  text-align: center;
  line-height: 20px;
}

.example__image-wrapper {
  display: flex;
}

.example__image-picture {
  flex-shrink: 0;
}

.example__expenses-text {
  .set-margin(0, 5px, 0, 0);
}

.example__image {
  display: block;
  flex-shrink: 0;
  width: 320px;
  height: 240px;
}

.example__image--after {
  display: none;
}

.example__before-after {
  width: 100%;
  .set-margin(20px, 0, 0, 0);
}

@media (min-width: @tablet-width) {
  .example {
    background: linear-gradient(to bottom, #ffffff 57%, transparent 57%),
      linear-gradient(to left, #eaeaea 50%, #f2f2f2 50%);
    border-top: 1px solid #e6e6e6;
  }

  .example__wrapper {
    width: @tablet-width;
    min-height: 1080px;
    .set-padding(43px, 0, 0, 0);
  }

  .example__title {
    .set-padding(0, 30px, 0, 30px);
    .set-margin(0, 0, 63px, 0);
  }

  .example__description {
    .set-padding(0, 30px, 0, 30px);
  }

  .example__middle {
    display: flex;
    align-items: center;
    .set-margin(45px, 0, 85px, 0);
    .set-padding(0, 30px, 0, 30px);
  }

  .example__statistics {
    .set-padding(8px, 0, 0, 0);
    .set-margin(0, 0, 0, 0);
  }

  .example__statistics-item {
    width: 163px;
    .set-padding(15px, 0, 19px, 0);
    .set-margin(0, 40px, 0, 0);
  }

  .example__statistics-value {
    .set-font-size(30px);
    line-height: 37px;
  }

  .example__statistics-text {
    width: 134px;
    bottom: -20px;
    margin-left: -67px;
    .set-font-size(14px);
    line-height: 14px;
    background-color: #ffffff;
  }

  .example__expenses {
    width: 174px;
    .set-margin(6px, 0, 0, 0);
    display: flex;
    flex-direction: column;
    margin-left: auto;
    text-align: right;
    line-height: 28px;
  }

  .example__expenses-text {
    .set-margin(0, 0, 0, 0);
  }

  .example__image-wrapper {
    width: 680px;
    .centerer();
  }

  .example__image {
    display: block;
    width: 690px;
    height: 517px;
  }

  .example__image-picture img {
    max-width: none;
  }

  .example__image-picture {
    width: 345px;
    overflow: hidden;
  }

  .example__image--after {
    display: block;
    margin-left: -345px;
  }

  .example__before-after {
    .set-margin(2px, 0, 0, 0);
  }
}

@media (min-width: @desktop-width) {
  .example {
    background: linear-gradient(to bottom, #ffffff 29%, transparent 29%),
      linear-gradient(to left, #eaeaea 50%, #f2f2f2 50%);
  }

  .example__wrapper {
    width: @desktop-width;
    display: flex;
    flex-direction: row;
    min-height: 650px;
    .set-padding(0, 40px, 0, 40px);
    background: linear-gradient(to bottom, #ffffff 29%, transparent 29%),
      linear-gradient(to left, #eaeaea 328px, #f2f2f2 328px);
  }

  .example__column {
    flex-shrink: 0;
    width: 610px;

    &--cat {
      width: 690px;
      margin-left: -22px;
    }
  }

  .example__title {
    .set-padding(0, 0, 0, 0);
    .set-margin(55px, 0, 145px, 0);
  }

  .example__description {
    .set-padding(0, 0, 0, 0);
    width: 435px;
  }

  .example__middle {
    flex-wrap: wrap;
    .set-padding(0, 0, 0, 0);
    .set-margin(60px, 0, 50px, 0);
  }

  .example__statistics {
    flex-shrink: 0;
    .set-margin(0, 0, 49px, 0);
  }

  .example__statistics-text {
    background-color: #f2f2f2;
  }

  .example__expenses {
    flex-shrink: 0;
    flex-direction: row;
    width: 365px;
    margin-left: 0;
    text-align: left;
  }

  .example__expenses-text {
    .set-margin(0, 66px, 0, 0);
  }

  .example__image-wrapper {
    width: 690px;
    margin-left: -20px;
  }

  .example__image-picture {
    width: 365px;
  }

  .example__image--after {
    display: block;
    margin-left: -365px;
  }

  .example__before-after {
    .set-margin(22px, 0, 0, 0);
  }
}
