.example {
  .set-padding(22px, 20px, 22px, 20px);
  .outline(green);
}

.example__statistics-list {
  .list-reset();
}

.example__statistics-value {
  line-height: 24px;
}

.example__statistics-text {
  .set-font-size(12px);
  line-height: 12px;
  text-transform: lowercase;
}

.example__expenses {
  line-height: 20px;
}
