.map {
  height: 364px;
  background-image: url("../img/map-background.jpg");
}

@media (min-width: @table-width) {
  .map {
    height: 396px;
    background-image: url("../img/map-background-tablet.jpg");
  }
}
