.page-footer__bottom {
  background-color: @set-bg-grey;
}

.page-footer__bottom-wrapper {
  width: @mobile-width;
  .centerer();
  min-height: 236px;
  .set-padding(22px, 20px, 0, 20px);
}

.page-footer__company-name {
  display: block;
  width: 100%;
  height: 72px;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: @tablet-width) {
  .page-footer__bottom-wrapper {
    width: @tablet-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .set-padding(0px, 30px, 0, 30px);
    min-height: 150px;
  }

  .page-footer__company-name {
    width: auto;
    height: 100%;
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    position: relative;
  }

  .page-footer__contacts {
    position: absolute;
    z-index: 2;
    width: @desktop-width;
    left: 50vw;
    margin-left: -650px;
    top: 95px;
  }

  .page-footer__contacts .contacts__wrapper {
    width: 570px;
    .set-margin(0px, 0, 0, 32px);
  }

  .page-footer__bottom-wrapper {
    width: @desktop-width;
    .centerer();
  }
}
