.present {
  .set-padding(35px, 20px, 35px, 20px);
  .outline(green);
}

.present-wrapper {
  height: 289px;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.present__text {
  .set-font-size(16px);
  color: @set-color-white;
  line-height: 20px;
}
