.present {
  min-width: 320px;
  .set-padding(40px, 0, 9px, 0);
}

.present-wrapper {
  .centerer();
  display: flex;
  width: 280px;
  height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media(min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: cover;
  }
}

.present__text {
  width: 170px;
  .set-margin(auto, auto, 43px, auto);
  .set-font-size(16px);
  color: @set-color-white;
  line-height: 20px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .present {
    .set-padding(69px, 0, 50px, 0);
  }

  .present-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 708px;
    height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media(min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: cover;
    }
  }

  .present__text {
    text-align: left;
    .set-margin(0, 115px, 0, 0);
  }
}

@media (min-width: @desktop-width) {
  .present {
    .set-padding(0, 0, 0, 0);
  }

  .present-wrapper {
    margin: 0;
    width: 244px;
    height: 289px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media(min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: cover;
    }
  }

  .present__text {
    .set-margin(auto, auto, 43px, auto);
    text-align: center;
  }
}
